hostname {{ inventory_hostname }}
!
{% for item in mgmt[inventory_hostname]['interfaces'] %}
interface {{item}}
   ip address {{ mgmt[inventory_hostname]['interfaces'][item]}}
{%endfor%}
!
service routing protocols model multi-agent
!
dns domain arista.lab
!
ip route 0.0.0.0/0 192.168.0.1
!
ip routing
!